<!DOCTYPE html>
<html>
  <head>
    <title>Auth</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <%= link_to 'Home', root_path%>  |
    <% if current_user.present? %>
   Welcome <%= current_user.email %>! | <%= link_to 'Sign Out', logout_path%>
<% else %>
   <%= link_to 'Register' , new_user_path%> | <%= link_to'Sign In', login_path%>
<% end %>
    <%= notice%>
    <%= alert%>
    <%= yield %>
  </body>
</html>
